.contact-form {
    width: 80%;
    margin: auto;
    margin-top: 90px;
    background: #fbfbfb;
    padding: 5%;
    border-radius: 15px;
}
.contact-form .form-control {
    border-color: #019495;
    margin-bottom: 19px;
}
.contact-form label {
    font-size: 14px;
    margin-bottom: 4px;
}
button.btn.btn-submit {
    background: #019495;
    color: #fff;
    font-size: 14px;
    width: 141px;
    height: 39px;
    /* float: right; */
    /* margin: auto; */
    /* display: table; */
}
button.btn.btn-submit:hover {
    background: #057677;
   
}