<!-- app-wrapper-all -->

<div class="app-wrapper-all bg-gray"> 
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-sm-12">
        <!--menu-->
  <div class="nav_menu">
    <div class="toggle-wrap2"> <span class="toggle-bar2"></span> </div>
  </div>
  <app-menu></app-menu>
  <!--menu-->
        </div>

        <div class="col-lg-9 col-sm-12 pl-0 pr-5-custom">
          <div class="col-md-12 mt-3">
            <h2 class="app-all-title text-left pl-check-car">Account</h2>
          </div>
          <div class="row">
            <div class="col-md-12 text-center pb-5 mb-4">
              <div class="profile-image"> <img src="assets/images/banner-bg.png" alt="">
                <!-- <button class="btn btn-file-uploaad">
                <input type="file" name="">
                <i class="fas fa-plus"></i>
                </button> -->
              </div>
              <h2 class="h2-profile-name">Laisha Eli</h2>
              <p class="p-address-profile"><i class="fas fa-map-marker-alt"></i>Virginia Beach, VA</p>
            </div>
          </div>
          <!-- all-content-area -->
          <div class="all-content-area pb-3">
            <div class="row">
              <div class="col-md-12">
        
                <div class="list-item-all pt-2 pb-4">
                  <div class="account-form">
                    <div class="row">
                      <label for="inputPassword" class="col-sm-3 col-form-label">Change Password</label>
                      <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputPassword">
                      </div>
                    </div>
        
                    <div class="row">
                      <label for="mail" class="col-sm-3 col-form-label">Change Email</label>
                      <div class="col-sm-9">
                        <input type="mail" class="form-control" id="mail">
                      </div>
                    </div>
                    <div class="row">
                      <label for="file" class="col-sm-3 col-form-label pr-0">Upload Account Photo</label>
                      <div class="col-sm-9">
                        <input type="file" class="form-control upload-form" id="file">
                      </div>
                    </div>
                  
                      <div class="mb-3">
                        <button class="btn btn-submit">Save Chnages</button>
                      </div>
                   
                        <h4 class="edit-account">Edit Account</h4>
                      
        
                        <div class="row">
                          <label for="name" class="col-sm-3 col-form-label">Name</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" id="name">
                          </div>
                        </div>
                        <div class="row">
                          <label for="address" class="col-sm-3 col-form-label">Address</label>
                          <div class="col-sm-9">
                            <input type="address" class="form-control" id="address">
                          </div>
                        </div>
                        <div class="row">
                          <label for="phone number" class="col-sm-3 col-form-label">Phone Number</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" id="phone number">
                          </div>
                        </div>
                        <div class="mb-3">
                          <button class="btn btn-submit">Save Chnages</button>
                        </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <!-- <ul class="list-group list-inline account-ul">
                  <li> <i class="fas fa-phone-volume"></i>
                    <p>+88001712768782</p>
                  </li>
                  <li> <i class="far fa-envelope"></i>
                    <p>masudcsep@gmail.com</p>
                  </li>
                  <li> <i class="fas fa-birthday-cake"></i>
                    <p> 31-12-1989</p>
                  </li>
                  <li> <i class="far fa-heart"></i>
                    <p>Unmarried</p>
                  </li>
                  <li> <i class="fas fa-briefcase"></i>
                    <p>Bussiness</p>
                  </li>
                </ul> -->
              </div>
            </div>
          </div>
          <!--  end-all-content-area  -->
          </div>
        </div>
        </div>
  
 

  <div class="clearfix"></div>
</div>
<!-- end app-wrapper-all --> 
