<!-- app-wrapper-all -->
<div class="app-wrapper-all bg-sky"> 
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-sm-12">
         <!--menu-->
    <div class="nav_menu">
      <div class="toggle-wrap2"> <span class="toggle-bar2"></span> </div>
    </div>
    <app-menu></app-menu>
    <!--menu-->
        </div>
        <div class="col-lg-9 col-sm-12 pl-0 pr-5-custom">
          <div class="col-md-12 mt-3">
            <h2 class="app-all-title text-left pl-check-car">Cardiovascular System</h2>
          </div>
            <!-- all-content-area -->
    <div class="all-content-area bg-sky  pt-0"> 
      <div class="row m-0">
        <div class="col-lg-6 col-sm-12">
 <!-- top-cardi-area -->
 <div class="top-cardi-area deep-sky pb-customall">
  <h4 class="text-left mt-2 color-white-text"> It is that <span>likely</span> Eli’s cardiovascular system<br>
    is being affected by nutritional risks. </h4>
  <div class="col-md-12 text-center mt-5"> <img class="dog2-progress-img" src="assets/images/dog-big-t.png" alt=""> </div>
  <div class="col-md-12 pb-5">
    <div class="list-item-right full-width mt-4">
      <div class="progress progress-custom">
        <div class="progress-bar progress-bar-custom bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <span class="progress-span-left text-left color-white-text">Low Concern</span> <span class="progress-span-right color-white-text">High Concern</span> </div>
  </div>
</div>
<!-- end top-cardi-area --> 
        </div>
        <div class="col-lg-6 col-sm-12 pl-0-car">
           <!-- bottom-content-app -->
      <div class="bottom-content-app marging-32 padding-p-carp">
        <h4 class="mt-2 mb-1">Cardiovascular System <i class="fas fa-exclamation-triangle float-right warn-dan-all"></i></h4>
        <span>Heart and circulation</span>
        <p> Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam,  sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, </p>
          <p> Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam,  </p>
        <div class="col-md-12 text-ri-cus">
          <label class="learn-more-label"> <a href="">Learn More</a> </label>
        </div>
      </div>
      <!-- end bottom-content-app --> 
        </div>
      </div>
     
     
    </div>
    <!--  end-all-content-area  -->
        </div>
        </div>
        </div>
        
   
  
    
  
    <div class="clearfix"></div>
  </div>
  <!-- end app-wrapper-all --> 