 <!-- app-wrapper-all -->
 <div class="app-wrapper-all bg-gray mt-3"> 
    <!--menu-->
    <div class="nav_menu">
      <div class="toggle-wrap2"> <span class="toggle-bar2"></span> </div>
    </div>
    <app-menu></app-menu>
    <!--menu-->
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h2 class="app-all-title">Cardiovascular System</h2>
      </div>
    </div>
    
    <!-- all-content-area -->
    <div class="all-content-area"> 
      <!-- top-cardi-area -->
      <div class="top-cardi-area pb-5">
        <h4 class="text-center mt-2"> 
          It is that <span>likely</span> Eli’s cardiovascular system<br>
          is being affected by nutritional risks.
           </h4>
        <div class="col-md-12 text-center mt-5"> 
          <img class="dog-progress-img" src="assets/images/dog-progress.png" alt=""> 
        </div>
       
          <div class="player-timeline">
            <input type="text" data-slider="true">
            <span class="range-span range-one text-left"> Highly<br>
            Unlikely </span>
             <span class="range-span range-two text-left"> Unlikely </span> <span class="range-span range-three"></span> 
             <span class="range-span range-four text-center"> Possible </span> 
             <span class="range-span range-five text-left"> Likely </span>
              <span class="range-span range-six text-left"> Highly<br>
            Likely </span> <span class="range-span range-seven"></span>
             <span class="range-span range-eight text-right"> Reasonably<br>
            Certain </span>
             </div>
        
      </div>
      <!-- end top-cardi-area --> 
      <!-- bottom-content-app -->
      <div class="bottom-content-app">
        <h4 class="mt-2 mb-1">Cardiovascular System</h4>
        <span>Heart and circulation</span>
        <p> Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa
          qui officia deserunt mollit anim id est laborum. </p>
        <div class="col-md-12 text-right">
          <label class="learn-more-label"> <a href="">LEARN MORE</a> </label>
        </div>
      </div>
      <!-- end bottom-content-app --> 
    </div>
    <!--  end-all-content-area  -->
    <div class="clearfix"></div>
  </div>
  <!-- end app-wrapper-all --> 