<!-- app-wrapper-all -->
<div class="app-wrapper-all bg-sky bg-light-sky2"> 
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-sm-12">
         <!--menu-->
    <div class="nav_menu">
      <div class="toggle-wrap2"> <span class="toggle-bar2"></span> </div>
    </div>
    <app-menu></app-menu>
    <!--menu-->
        </div>
        <div class="col-lg-9 col-sm-12 pl-0 pr-5-custom">
          <div class="col-md-12 mt-3">
            <h2 class="app-all-title text-left pl-check-car">Metabolism + Feed</h2>
          </div>
            <!-- all-content-area -->
    <div class="all-content-area bg-sky bg-light-sky2 pt-0"> 
      <div class="row m-0">
        <div class="col-lg-6 col-sm-12">
 <!-- top-cardi-area -->
 <div class="top-cardi-area pb-5 pt-2 slow-fast-border">
  <div class="dog-slow"> <span class="slowspan-top">Optimal</span> <img src="assets/images/dog-slow.png" alt="">
    <h5 class="h5-slow-mid">Eli is a <span>SLOW</span> Oxidizer</h5>
    <span class="slowspan-left">Slow</span> <span class="slowspan-right">Fast</span> </div>
</div>
<!-- end top-cardi-area --> 
        </div>
        <div class="col-lg-6 col-sm-12 pl-0-car mt-met-bottom">
           <!-- bottom-content-app -->
      <div class="bottom-content-app marging-32 padding-p-carp">
        <h4 class="mt-2 mb-1">Slow Oxidizers</h4>
        <span>Metabolic Performance</span>
        <p> Slow oxidizers require more protein and less fat
          in their diets. Protein with every meal is most
          important to maintain their blood sugar level
          and support adequate adrenal and thyroid
          gland activity. Animal protein is important
          because it provides nutrients such as zinc, alpha
          lipoic acid, sulfur-containing amino acids and
          L-carnitine
          lipoic acid, sulfur-containing amino acids.
          </p>
        <div class="col-md-12 text-ri-cus">
          <label class="learn-more-label"> <a href="">Learn More</a> </label>
        </div>
      </div>
      <!-- end bottom-content-app --> 
        </div>
      </div>
     
     
    </div>
    <div class="clearfix"></div>
    <div class="footer-green-block"> Eli’s Optimal Diet </div>
    <!--  end-all-content-area  -->
        </div>
        </div>
        </div>
        
   
  
    
  
    <div class="clearfix"></div>
  </div>
  <!-- end app-wrapper-all --> 