  <!-- app-wrapper-all -->
  <div class="app-wrapper-all bg-light-sky mt-3"> 
    <!--menu-->
    <div class="nav_menu">
      <div class="toggle-wrap2"> <span class="toggle-bar2"></span> </div>
    </div>
    <app-menu></app-menu>
    <!--menu-->
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h2 class="app-all-title">Metabolism + Feed</h2>
      </div>
    </div>
    
    <!-- all-content-area -->
    <div class="all-content-area bg-light-sky mt-1"> 
      <!-- top-cardi-area -->
      <div class="top-cardi-area pb-5 slow-fast-border">
        <div class="dog-slow"> <span class="slowspan-top">Optimal</span> <img src="assets/images/dog-slow.png" alt="">
          <h5 class="h5-slow-mid">Eli is a <span>SLOW</span> Oxidizer</h5>
          <span class="slowspan-left">Slow</span> <span class="slowspan-right">Fast</span> </div>
      </div>
      <!-- end top-cardi-area --> 
      <!-- bottom-content-app -->
      <div class="bottom-content-app">
        <h4 class="mt-2 mb-1">Slow Oxidizers</h4>
        <span>Metabolic Performance</span>
        <p> Slow oxidizers require more protein and less fat
          in their diets. Protein with every meal is most
          important to maintain their blood sugar level
          and support adequate adrenal and thyroid
          gland activity. Animal protein is important
          because it provides nutrients such as zinc, alpha
          lipoic acid, sulfur-containing amino acids and
          L-carnitine. </p>
        <div class="col-md-12 text-right">
          <label class="learn-more-label"> <a href="">LEARN MORE</a> </label>
        </div>
      </div>
      <!-- end bottom-content-app -->
      
      <div class="footer-green-block"> Eli’s Optimal Diet </div>
    </div>
    <!--  end-all-content-area  -->
    <div class="clearfix"></div>
  </div>
  <!-- end app-wrapper-all --> 