  <!-- app-wrapper-all -->
  <div class="app-wrapper-all mt-3"> 
    <!--menu-->
    <div class="nav_menu">
      <div class="toggle-wrap2"> <span class="toggle-bar2 toggle-bar3"></span> </div>
    </div>
   <app-menu></app-menu>
    <!--menu-->
    <section class="banner-bg-area" style="background: url(assets/images/banner-bg.png);">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="app-all-title"><img class="img-banner-logo" src="assets/images/checklogo.png" alt=""></h2>
        </div>
      </div>
      <h2 class="h2-banner-bg"> Help Your Pup Beat The Summer<br>
        Heat With These 5 Tips </h2>
    </section>
    
    <!-- all-content-area -->
    <div class="all-content-area bg-white pb-3">
      <div class="row">
        <div class="col-md-12 pl-5 pr-5">
          <h5 class="slide-h5-title">Systems Check</h5>
          <ul class="slide-ul">
            <li> <img src="assets/images/slide1.svg" alt="">
              <p>Cardio</p>
            </li>
            <li> <img src="assets/images/slide2.svg" alt="">
              <p>Nervous</p>
            </li>
            <li> <img src="assets/images/slide3.svg" alt="">
              <p>Immune</p>
            </li>
            <li> <img src="assets/images/slide4.svg" alt="">
              <p>Digestive</p>
            </li>
            <li> <img src="assets/images/slide5.svg" alt="">
              <p>Muscular</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12 pl-5 pr-5">
          <h5 class="slide-h5-title">More From CheckPup</h5>
          <ul class="slide-ul-two mt-4">
            <li>
              <h3>Shop Your Next Kit</h3>
              <img src="assets/images/slitwo.png" alt=""> </li>
            <li>
              <h3 class="text-center">More About</h3>
              <img src="assets/images/slitwo2.png" alt=""> </li>
          </ul>
        </div>
      </div>
    </div>
    <!--  end-all-content-area  -->
    <div class="clearfix"></div>
  </div>
  <!-- end app-wrapper-all --> 