  <!-- app-wrapper-all -->
  <div class="app-wrapper-all bg-gray"> 
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-sm-12">
            <!--menu-->
           <div class="nav_menu">
            <div class="toggle-wrap2"> <span class="toggle-bar2 toggle-bar3"></span> </div>
            </div>
            <app-menu></app-menu> 
            <!--menu-->
          </div>
          <div class="col-lg-9 col-sm-12 pr-5 pr-5-custom p-0-hea-s">
           
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="dog-profile-bg mt-3 mt-cu-suhe pt-2">
                <div class="profile-image"> <img src="assets/images/dog-per.jpg" alt="">
                  <button class="btn btn-file-uploaad">
                  <input type="file" name="">
                  <i class="fas fa-plus"></i>
                  </button>
                </div>
                <h2 class="h2-profile-name ei-h4">Eli Alexandarya</h2>
                <p class="p-address-profile icon-eli"><i class="fas fa-map-marker-alt"></i>Virginia Beach, VA</p>
              </div>
            </div>
            </div> 
            <!-- all-content-area -->
            <div class="all-content-area pb-3 width-mobile">
         
              <div class="row">
                <!-- add-pets-left -->
                <div class="col-md-5">
                <div class="add-pets-left">
                    <!-- add-pets-left-header -->
                 <div class="add-pets-left-header">
                     <div class="dog-add-pic">
                         <img class="doc-add-avater" src="assets/images/dog-add-por.jpg" alt="">
                         <div class="add-input-dog">
                           <img src="assets/images/plus-icon.jpg">
                            <input type="file">
                         </div>
                     </div>
                 </div>   
                 <!-- end add-pets-left-header -->

                 <div class="add-pets-left-body">
                     <div class="field-title-pets">
                         <span class="span-name-field">Name</span>
                         <input type="text" class="form-control" placeholder="Lucy">
                     </div>

                     <div class="field-title-pets">
                        <span class="span-name-field">Birthday</span>
                        <input type="text" class="form-control" placeholder="Dalmatlan">
                    </div>

                    <div class="field-title-pets">
                        <span class="span-name-field">Birthday</span>
                        <input placement="top" type="text" class="form-control date-icon" bsDatepicker placeholder="MM/DD/YYYY">
                    </div>

                    <div class="col-md-12">
                        <button class="btn btn-submit">Submit <span>(06)</span></button>
                    </div>
                 </div>
                </div>
                </div>
                <!-- end add-pets-left -->

                <!-- pets-list -->
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="pet-list-block">
                              <!-- pet-list-block-header -->
                                <div class="pet-list-block-header-top">
                                  
                                  <div class="pet-list-block-header-btn">
                                    <button class="btn left-count-pet btn-pet-block">01</button>
                                   <div class="btn-title-right">
                                    <button class="btn btn-pet-block mr-1"><img src="assets/images/editicon.jpg" alt=""></button>
                                    <button class="btn btn-pet-block"><img src="assets/images/deleteicon.jpg" alt=""></button>
                                   </div>
                                  </div>
                                  <img class="img-pet-profile-main" src="assets/images/pet1.jpg" alt="">
                                </div>
                             <!-- end pet-list-block-header -->

                              <div class="pet-list-block-body">
                                <h3>Sophie</h3>
                                <p>Affenplnscher</p>
                                <button>6 years</button>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="pet-list-block">
                            <!-- pet-list-block-header-top -->
                              <div class="pet-list-block-header-top">
                                
                                <div class="pet-list-block-header-btn">
                                  <button class="btn left-count-pet btn-pet-block">01</button>
                                 <div class="btn-title-right">
                                  <button class="btn btn-pet-block mr-1"><img src="assets/images/editicon.jpg" alt=""></button>
                                  <button class="btn btn-pet-block"><img src="assets/images/deleteicon.jpg" alt=""></button>
                                 </div>
                                </div>
                                <img class="img-pet-profile-main" src="assets/images/pet2.jpg" alt="">
                              </div>
                           <!-- end pet-list-block-header-top -->

                            <div class="pet-list-block-body">
                              <h3>Sophie</h3>
                              <p>Affenplnscher</p>
                              <button>6 years</button>
                            </div>
                          </div>
                      </div>
                      
                      <div class="col-md-6">
                        <div class="pet-list-block">
                          <!-- pet-list-block-header-top -->
                            <div class="pet-list-block-header-top">
                              <div class="pet-list-block-header-btn">
                                <button class="btn left-count-pet btn-pet-block">03</button>
                               <div class="btn-title-right">
                                <button class="btn btn-pet-block mr-1"><img src="assets/images/editicon.jpg" alt=""></button>
                                <button class="btn btn-pet-block"><img src="assets/images/deleteicon.jpg" alt=""></button>
                               </div>
                              </div>
                              <img class="img-pet-profile-main" src="assets/images/pet3.jpg" alt="">
                            </div>
                         <!-- end pet-list-block-header-top -->

                          <div class="pet-list-block-body">
                            <h3>Maggle</h3>
                            <p>Dalmatlan</p>
                            <button>1 Year</button>
                          </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                      <div class="pet-list-block">
                        <!-- pet-list-block-header-top-->
                          <div class="pet-list-block-header-top">
                            <div class="pet-list-block-header-btn">
                              <button class="btn left-count-pet btn-pet-block">04</button>
                             <div class="btn-title-right">
                              <button class="btn btn-pet-block mr-1"><img src="assets/images/editicon.jpg" alt=""></button>
                              <button class="btn btn-pet-block"><img src="assets/images/deleteicon.jpg" alt=""></button>
                             </div>
                            </div>
                            <img class="img-pet-profile-main" src="assets/images/pet4.jpg" alt="">
                          </div>
                       <!-- end pet-list-block-header-top -->

                        <div class="pet-list-block-body">
                          <h3>Chloe</h3>
                          <p>Lion Dog</p>
                          <button>4 Months</button>
                        </div>
                      </div>
                  </div>
                  
                    </div>
                   </div>
                     <!--end pets-list -->
              </div>
            </div>
            <!--  end-all-content-area  -->
            </div>
      </div>
    </div>

   
    
    <div class="clearfix"></div>
  </div>
  <!-- end app-wrapper-all --> 