  <!-- app-wrapper-all -->
  <div class="app-wrapper-all bg-gray mt-3"> 
    <!--menu-->
    <div class="nav_menu">
      <div class="toggle-wrap2"> <span class="toggle-bar2"></span> </div>
    </div>
    <app-menu></app-menu>
    <!--menu-->
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h2 class="app-all-title">Systems Check</h2>
      </div>
    </div>
    
    <!-- all-content-area -->
    <div class="all-content-area pb-3">
      <div class="row">
        <div class="col-md-12">
          <div class="list-item-all"> <img class="icon-left-app2" src="assets/images/love-icon2.png" alt="">
            <div class="list-item-right">
              <h3>Cardiovascular System</h3>
              <p class="p-list-item">Heart and circulation</p>
              <div class="progress progress-custom">
                <div class="progress-bar progress-bar-custom bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span class="progress-span-left">Low Concern</span> <span class="progress-span-right">High Concern</span> </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="list-item-all"> <img class="icon-left-app2" src="assets/images/immi.png" alt="">
            <div class="list-item-right">
              <h3>Immune System</h3>
              <p class="p-list-item">Defense and recovery</p>
              <div class="progress progress-custom">
                <div class="progress-bar progress-bar-custom bg-danger" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span class="progress-span-left">Low Concern</span> <span class="progress-span-right">High Concern</span> </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="list-item-all"> <img class="icon-left-app2" src="assets/images/liicon.png" alt="">
            <div class="list-item-right">
              <h3>Digestive System</h3>
              <p class="p-list-item">Stomach, liver, intestines</p>
              <div class="progress progress-custom">
                <div class="progress-bar progress-bar-custom bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span class="progress-span-left">Low Concern</span> <span class="progress-span-right">High Concern</span> </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="list-item-all"> <img class="icon-left-app2" src="assets/images/li2.png" alt="">
            <div class="list-item-right">
              <h3>Muscular System</h3>
              <p class="p-list-item">Strength, stability, and energy</p>
              <div class="progress progress-custom">
                <div class="progress-bar progress-bar-custom bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span class="progress-span-left">Low Concern</span> <span class="progress-span-right">High Concern</span> </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="list-item-all"> <img class="icon-left-app2" src="assets/images/celli.png" alt="">
            <div class="list-item-right">
              <h3>Nervous System</h3>
              <p class="p-list-item">Reaction and response</p>
              <div class="progress progress-custom">
                <div class="progress-bar progress-bar-custom bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span class="progress-span-left">Low Concern</span> <span class="progress-span-right">High Concern</span> </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="list-item-all"> <img class="icon-left-app2" src="assets/images/kidi.png" alt="">
            <div class="list-item-right">
              <h3>Endocrine System</h3>
              <p class="p-list-item">Pituitary, thyroid, pancreas, kidneys</p>
              <div class="progress progress-custom">
                <div class="progress-bar progress-bar-custom bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span class="progress-span-left">Low Concern</span> <span class="progress-span-right">High Concern</span> </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="list-item-all"> <img class="icon-left-app2" src="assets/images/bri.png" alt="">
            <div class="list-item-right">
              <h3>Autonomic Nervous System</h3>
              <p class="p-list-item">Performance and function</p>
              <div class="progress progress-custom">
                <div class="progress-bar progress-bar-custom bg-success" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span class="progress-span-left">Low Concern</span> <span class="progress-span-right">High Concern</span> </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <!--  end-all-content-area  -->
    <div class="clearfix"></div>
  </div>
  <!-- end app-wrapper-all --> 