  <!-- app-wrapper-all -->
  <div class="app-wrapper-all bg-sky mt-3"> 
    <!--menu-->
    <div class="nav_menu">
      <div class="toggle-wrap2"> <span class="toggle-bar2"></span> </div>
    </div>
    <app-menu></app-menu>
    <!--menu-->
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h2 class="app-all-title">Digestive System</h2>
      </div>
    </div>
    
    <!-- all-content-area -->
    <div class="all-content-area bg-sky"> 
      <!-- top-cardi-area -->
      <div class="top-cardi-area deep-sky pb-customall pl-5">
        <h4 class="text-left mt-2 color-white-text"> It is <span class="span-unlikely">unlikely</span> that Eli’s digestive system is<br>
          being affected by nutritional risks. </h4>
        <div class="col-md-12 text-center mt-5"> <img class="dog2-progress-img" src="assets/images/dog-big-t2.png" alt=""> </div>
        <div class="col-md-10 offset-md-1 pb-5">
          <div class="list-item-right full-width mt-4">
            <div class="progress progress-custom">
              <div class="progress-bar progress-bar-custom bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span class="progress-span-left text-left color-white-text">Low Concern</span> <span class="progress-span-right color-white-text">High Concern</span> </div>
        </div>
      </div>
      <!-- end top-cardi-area --> 
      <!-- bottom-content-app -->
      <div class="bottom-content-app marging-32">
        <h4 class="mt-2 mb-1">Digestive System <i class="fas fa-check-circle float-right correct-dan-all"></i></h4>
        <span>Stomach, liver, intestines</span>
        <p> Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa
          qui officia deserunt mollit anim id est laborum. </p>
        <div class="col-md-12 text-right">
          <label class="learn-more-label"> <a href="">LEARN MORE</a> </label>
        </div>
      </div>
      <!-- end bottom-content-app --> 
    </div>
    <!--  end-all-content-area  -->
    <div class="clearfix"></div>
  </div>
  <!-- end app-wrapper-all --> 