  <!-- app-wrapper-all -->
  <div class="app-wrapper-all bg-gray2 bgwhite2"> 
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-sm-12">
           <!--menu-->
    <div class="nav_menu">
      <div class="toggle-wrap2"> <span class="toggle-bar2"></span> </div>
    </div>
    <app-menu></app-menu>
    <!--menu-->
          </div>

          <div class="col-lg-9 col-sm-12 pl-0 pr-5-custom">
            
            <div class="col-md-12 mt-3">
              <h2 class="app-all-title text-left pl-check-car">Nutritional Levels</h2>
            </div>
            
            <div class="row">
              <div class="col-lg-7 col-sm-12 text-center mb-4">
                <div class="bg-white-nutrai">
                  <h5 class="h5-n-new">Nutritional Levels</h5>
                  <div class="nutritional-lavel">
                    <div class="progress progress-custom-big margin-one-top">
                      <div class="progress-bar progress-bar-custom bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress progress-custom-big mar-pre-one">
                      <div class="progress-bar progress-bar-custom bg-secondary" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress progress-custom-big mar-pre-two">
                      <div class="progress-bar progress-bar-custom bg-secondary" role="progressbar" style="width: 54%" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress progress-custom-big mar-pre-three">
                      <div class="progress-bar progress-bar-custom bg-secondary" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress progress-custom-big mar-pre-four">
                      <div class="progress-bar progress-bar-custom bg-secondary" role="progressbar" style="width: 16%" aria-valuenow="16" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress progress-custom-big mar-pre-five">
                      <div class="progress-bar progress-bar-custom bg-secondary" role="progressbar" style="width: 53%" aria-valuenow="53" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress progress-custom-big mar-pre-six">
                      <div class="progress-bar progress-bar-custom bg-secondary" role="progressbar" style="width:60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="col-md-12 optimal-title text-left"> <i class="fas fa-check-circle"></i>
                      <h5>OPTIMAL</h5>
                    </div>
                  </div>
                </div>
               
              </div>

              <div class="col-lg-5 col-sm-12 bg-gray2 progress-nu">
                <div class="row">
                  <div class="col-md-12 pr-5-ty mt-thy-top">
                    <div class="list-item-all">
                      <div class="list-item-right full-width">
                        <h3>Thyroid Performance</h3>
                        <div class="progress progress-custom">
                          <div class="progress-bar progress-bar-custom bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="progress-span-left">Low Concern</span> <span class="progress-span-right">High Concern</span> </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 pr-5-ty">
                    <div class="list-item-all">
                      <div class="list-item-right full-width">
                        <h3>Adrenal Stress</h3>
                        <div class="progress progress-custom">
                          <div class="progress-bar progress-bar-custom bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="progress-span-left">Low Concern</span> <span class="progress-span-right">High Concern</span> </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- all-content-area -->
            <div class="all-content-area pb-3 blood-title-top"> 
              
              <!-- bottom-content-app -->
              <div class="bottom-content-app mt-1 mb-1 border-green-all">
                <h4 class="mt-2 mb-1">Blood Sugar Handling</h4>
                <p class="mt-4"> Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis
                  nostrud exercitation ullamco laboris nisi ut aliquip ex
                  ea commodo consequat. </p>
                <p class="mt-2"> Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit ut labore et dolore magna aliqua. </p>
                <div class="col-md-12 text-ri-cus">
                  <label class="learn-more-label"> <a href="">Learn More</a> </label>
                </div>
              </div>
              <!-- end bottom-content-app -->
              
              
            </div>
            <!--  end-all-content-area  -->
          </div>
          </div>
          </div>
   

    <div class="clearfix"></div>
  </div>
  <!-- end app-wrapper-all --> 