  <!-- app-wrapper-all -->
  <div class="app-wrapper-all mt-3"> 
    <!--menu-->
    <div class="nav_menu">
      <div class="toggle-wrap2"> <span class="toggle-bar2"></span> </div>
    </div>
    <app-menu></app-menu>
    <!--menu-->
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h2 class="app-all-title">Toxic Metals</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center mb-4">
        <h4 class="h4-encountered"> It is <span>highly likely</span> that Eli has
          encountered this toxic metal
          and is being affected by
          nutritional risks. </h4>
        <div class="col-md-10 offset-md-1">
          <div class="list-item-right full-width mt-4">
            <div class="progress progress-custom">
              <div class="progress-bar progress-bar-custom bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span class="progress-span-left text-left">Low Concern</span> <span class="progress-span-right">High Concern</span> </div>
        </div>
      </div>
    </div>
    <!-- all-content-area -->
    <div class="all-content-area pb-3"> 
      
      <!-- bottom-content-app -->
      <div class="bottom-content-app mt-1 mb-1 border-danger-all">
        <h4 class="mt-2 mb-1">Lead <i class="fas fa-exclamation-triangle float-right dan-dan-all"></i></h4>
        <p class="mt-4"> Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat. </p>
        <p class="mt-2"> Lorem ipsum dolor sit amet, consectetur adipiscing
          elit ut labore et dolore magna aliqua. </p>
        <div class="col-md-12 text-right">
          <label class="learn-more-label"> <a href="">LEARN MORE</a> </label>
        </div>
      </div>
      <!-- end bottom-content-app -->
      
      <div class="row">
        <div class="col-md-12">
          <div class="list-item-all">
            <div class="list-item-right full-width">
              <h3>Aluminum</h3>
              <div class="progress progress-custom">
                <div class="progress-bar progress-bar-custom bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span class="progress-span-left">Low Concern</span> <span class="progress-span-right">High Concern</span> </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="list-item-all">
            <div class="list-item-right full-width">
              <h3>Mercury</h3>
              <div class="progress progress-custom">
                <div class="progress-bar progress-bar-custom bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span class="progress-span-left">Low Concern</span> <span class="progress-span-right">High Concern</span> </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <!--  end-all-content-area  -->
    <div class="clearfix"></div>
  </div>
  <!-- end app-wrapper-all --> 