@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import "./assets/css/plugin.css";



/*===============================index==================
## app-wrapper-all
## nav_menu
## profile-image
## list-item-all
============================================*/
/* .app-wrapper-all {
    max-width: 800px;
    min-height: 630px;
    max-height: 100%;
    background: #fff;
    border: solid 1px #ddd;
    margin: auto;
    position: relative;
    font-family: 'Poppins', sans-serif;
} */
.display-none-block{
    display: none;
}
.app-wrapper-all {
   width:100%;
    min-height: 100%;
    background: #fff;
    position: relative;
    float: left;
    font-family: 'Poppins', sans-serif; min-height:800px;
}
a:hover {
    text-decoration: none;
}
body {
    padding: 0px;
    background: #fff;
}
.float-left-custom{
    float: left;
}
.float-right-custom{
    float: right;
}
.bg-white {
    background: #fff;
}
.bg-gray {
    background: #f5f6f8;
}
.bg-gray2{
    background: #f5f6f8; 
}
h2.app-all-title {
    font-weight: bold;
    text-align: center;
    margin-top: 36px;
    color: #000;
    font-size: 29px;
    padding-left: 7%;
}
/*================start_menu======================*/
.nav_menu {
    padding: 7px;
    position: absolute;
    left: 27px;
    width: 40px;
    z-index: 1002;
    top: 34px;
    height: 40px;
    white-space: nowrap;
    display: none;
}
.logo-menu {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.logo-menu img.mobile-app-logo {
    display: none;
}
.logo-menu img.desktop-logo {
    width: 214px;
}
.logo-menu img {
    width: 253px;
    margin: auto;
    display: table;
    margin-top: -41px;
    float: left;
    margin-left: 8%;
}
.user-block {
    width: 90%;
    float: left;
    margin-top: 20%;
    margin-left: 14%;
    margin-bottom: 60px;
}
.user-block img {
    width: 90px;
    border-radius: 13px;
    border: solid 5px #fff;
    height: 87px;
    object-fit: cover;
}
.user-block h3 {
    font-size: 19px;
    width: 100%;
    float: left;
    margin-top: 15px;
    color: #fff;
}
.user-block h3 span {
    font-weight: 200;
    font-style: italic;
}
.user-block p {
    color: #9dbbbb;
    font-size: 13px;
    width: 100%;
    float: left;
    margin-bottom: 0px;
}
.title-name-span{
    color: #9dbbbb;
    font-size: 13px;
    /* font-weight: 222; */
    margin-bottom: 0px;
    margin-top: 0px;
    width: 100%;
    float: left;
}
.nav_menu::after {
    content: "";
    display: block;
    clear: both;
}
/* .aside_title {
    position: absolute;
    width: 80%;
    height: 100%;
    background: #007677;
    left: 0;
    top: 0;
    display: none;
    z-index: 1001;
    border-radius: 0px 16px 0px 0;
    box-shadow: 0px 2px 5px #676767;
} */
.aside_title {
    position: absolute;
    width: 94%;
    height: 100%;
    background: #006c6d;
    left: 0;
    top: 0;
    display: block;
    z-index: 1001;
  
}
.aside_title::before {
    content: "";
    display: block;
    height: 67px;
}
.aside_title a {
    display: block;
    padding: 8px 18px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    width: 100%;
    white-space: nowrap;
    float: left;
    padding-left: 14%;
    background: #006c6d;
}
.aside_title a span {
    width: 33px;
    height: 34px;
    /* float: left; */
    display: inline-block;
    top: -2px;
    position: relative;
    margin-right: 4px;
}
.toggle-wrap2 {
    position: relative;
    cursor: pointer;
    float: left;
    left: 5px;
    top: -9px;
    /*disable selection*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.toggle-bar2, .toggle-bar2::before, .toggle-bar2::after, .toggle-wrap2.active .toggle-bar2, .toggle-wrap2.active .toggle-bar2::before, .toggle-wrap2.active .toggle-bar2::after {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.toggle-bar2 {
    width: 22px;
    margin: 20px -6px;
    position: relative;
    border-top: 3px solid #018f90;
    display: block;
}
.toggle-bar3 {
    border-top: 3px solid #fff;
}
.toggle-bar2::before, .toggle-bar2::after {
    content: "";
    display: block;
    background: #018f90;
    height: 3px;
    width: 22px;
    position: absolute;
    top: -10px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -ms-transform-origin: 13%;
    -webkit-transform-origin: 13%;
    transform-origin: 13%;
}
.toggle-bar3::before, .toggle-bar3::after {
    background: #fff;
}
.toggle-bar2::after {
    top: 4px;
}
.toggle-wrap2.active .toggle-bar2 {
    border-top: 6px solid transparent;
    box-shadow: 0px 1px 0px #007677;
}
.toggle-wrap2.active .toggle-bar2::before {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
}
.toggle-wrap2.active .toggle-bar2::after {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #fff;
    top: 2px;
}
.nav-active {
    background: #0c8773;
}
/*profile-image*/

.profile-image {
    width: 140px;
    height: 140px;
    margin: auto;
    margin-top: 35px;
    position: relative;
}
.profile-image img {
    border-radius: 270px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid 2px #2bb553;
}
.btn.btn-file-uploaad {
    width: 34px;
    height: 34px;
    background: #2bb553;
    border-radius: 50px;
    position: absolute;
    bottom: 0px;
    right: 13px;
    overflow: hidden;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 5px 10px;
}
.btn.btn-file-uploaad input {
    width: 170px;
    height: 60px;
    position: absolute;
    left: -100px;
    cursor: pointer;
    opacity: 0;
}
.h2-profile-name {
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
    color: #000;
    font-weight: 500;
}
p.p-address-profile {
    width: 90%;
    margin: auto;
    font-size: 21px;
    color: #419798;
    font-weight: 200;
}
p.p-address-profile i {
    color: #999;
    font-size: 27px;
    margin-right: 12px;
    top: 4px;
    position: relative;
}
/*list-item-all*/
.all-content-area {
    width: 100%;
    background: #f5f6f8;
    height: auto;
    float: left;
    min-height: 98px;
    margin-top: 20px;
    padding-top: 20px;
    overflow: hidden;
}
.list-item-all {
    width: 93%;
    min-height: 96px;
    background: #fff;
    margin: auto;
    margin-top: 8px;
    border-radius: 16px;
    padding: 7px 22px 10px 16px;
    margin-bottom: 22px;
}
img.icon-left-app {
    width: 47px;
    float: left;
    height: 53px;
    margin-top: 3px;
}
img.icon-left-app2 {
    width: 102px;
    float: left;
    height: 102px;
    /* margin-top: 6px; */
    left: -7px;
    position: relative;
}
.list-item-right {
    width: 75%;margin-top: 6px;
    float: right;
}
.list-item-right h3 {
    color: #000;
    font-size: 21px;
    margin-bottom: 9px;
    font-weight: 500;
}
.health-summary-list {
    width: 87%;
}
.progress-custom {
    height: 7px;
    border-radius: 52px;
    background: #ecedff;
}
.progress-bar-custom {
    border-radius: 52px;
}
.progress-bar-custom.bg-warning {
    background: #fad15e !important;
}
.progress-bar-custom.bg-success {
    background: #40d76c !important;
}
.progress-bar-custom.bg-danger {
    background: #ea216a !important;
}
.progress-span-left {
    width: 50%;
    float: left;
    color: #9b9b9b;
    font-size: 13px;
    margin-top: 5px;
}
.progress-span-right {
    width: 50%;
    float: right;
    color: #9b9b9b;
    font-size: 13px;
    margin-top:5px;
    text-align: right;
}
.p-list-item {
 color: #9b9b9b;
    color: #9b9b9b;
    font-size: 14px;
    margin-bottom: 7px;
    margin-top: -3px;
}
.top-cardi-area {
    width: 95%;
    margin: auto;
    background: #fff;
    padding: 20px 22px;
    border-radius: 18px;
    right: 5px;
    position: relative;
}
.top-cardi-area h4 {
    font-size: 18px;
    line-height: 26px;
}
.top-cardi-area h4 span {
    color: #f3bf28;
}
.dog-progress-img {
    width: 177px;
    margin-top: 10px;
}
.bottom-content-app {
    width: 95%;
    margin: auto;
    background: #fff;
    padding: 20px 30px 30px;
    border-radius: 18px;
    margin-top: 26px;
    margin-bottom: 20px;
    right: 5px;
    position: relative;
}
.bottom-content-app h4 {
    font-size: 22px;
    color: #000;
}
.bottom-content-app span {
    width: 100%;
    float: left;
    color: #827f7f;
    font-weight: normal;
    font-size: 14px;
}
.bottom-content-app p {
    font-size: 16px;
    width: 94%;
    float: left;
    margin-top: 34px;
    line-height: 28px;
}
.learn-more-label a {
    color: #7e7f80;
    font-weight: bold;
    border: solid 1px #ddd;
    padding: 10px 21px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 6px;
    margin-top: 12px;
    float: left;
    right: 10px;
    position: relative;
}
.learn-more-label a:hover {
    color: #016b6c;
}
.p-18 {
    padding: 18px;
}
.dog-big-area {
    width: 100%;height: 400px;
}
.dog-big-area img {
    width: 100%;
    border-radius: 18px;height: 100%;
    object-fit: cover;
}
.dog-big-left-title {
    width: 58px;
    float: left;
}
.dog-big-left-title img {
    width: 100%;
}
.dog-big-right-title {
    width: 78%;
    float: left;
    /* border: solid; */
    margin-left: 2%;
    margin-top: 7px;
}
.dog-big-right-title h5 {
    margin-bottom: 5px;
}
.dog-big-top p {
    margin-top: 8px;
}
.nutritional-lavel {
    width: 93%;
    margin: auto;
    margin-top: 72px;
    min-height: 140px;
    position: relative;
}
.progress-custom-big {
    width: 220px;
    transform: rotate( -90deg  );
    border-radius: 100px;
    background: #eef0fa;
    z-index: 9;
    position: relative;
}
.mar-pre-one {
    margin-left: -2%;
    margin-top: -16px;
}
.mar-pre-two {
    margin-left: 12%;
    margin-top: -16px;
}
.mar-pre-three {
    margin-left: 27%;
    margin-top: -16px;
}
.mar-pre-four {
    margin-left: 43%;
    margin-top: -16px;
}
.mar-pre-five {
    margin-left: 59%;
    margin-top: -16px;
}
.mar-pre-six {
    margin-left: 75%;
    margin-top: -16px;
}
.progress-bar-custom.bg-secondary {
    background: #e0e2ec !important;
}
.margin-one-top {
    margin-top: 200px;
    left: -16%;
}
.nutritional-lavel:after {
    width: 103%;
    border-bottom: dashed 3px #40d76c;
    content: '';
    display: block;
    position: absolute;
    top: 8px;
}
.optimal-title {
    margin-top: 128px;
    padding-left: 0px;
    right: 6px;
    position: relative;
}
h5.h5-n-new {
    position: absolute;
    top: 31px;
    font-weight: 700;
    padding-left: 21px;
}
.pr-5-ty{
    padding-right: 5%;
}
.mt-thy-top {
    margin-top: 5.7%;
}
.optimal-title i {
    float: left;
    margin-left: 24px;
    font-size: 30px;
    color: #40d76c;
}
.optimal-title h5 {
    color: #007879;
    font-weight: bold;
    font-size: 17px;
    margin-left: 18px;
    float: left;
    margin-top: 5px;
}
.border-green-all {
    border: solid 3px #fff;
}
.border-danger-all {
    margin-top: 31px !important;
    border: solid 2px #ea216a;
    width: 92%;
}
.full-width {
    width: 100%;
}
.h4-encountered {
    width: 89%;
    margin: auto;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 26px;
    line-height: 26px;
    font-weight: 800;
    color: #4d4d4d;
    font-size: 21px;
}
h4.h4-encountered span {
    color: #ea216a;
}
.dan-dan-all {
    color: #ea216a;
    font-size: 31px;
}
.warn-dan-all {
    color: #ffc31a;
    font-size: 31px;
}
.correct-dan-all {
    color: #40d76c;
    font-size: 31px;
}
.bg-sky {
    background: #f5f6f8;
}
.deep-sky {
    background: #008b8c;
}
.color-white-text {
    color: #fff;
}
img.dog2-progress-img {
    width: 220px;
}
.pb-customall {
    padding-bottom: 70px;
}
.marging-32 {
    margin-top: 0px;
}
span.span-unlikely {
    color: #65f09a !important;
}
.banner-bg-area {
    width: 100%;
    /* height: 626px; */
    height: 366px;
    float: left;
    background-size: cover !important;
    position: relative;border-radius: 20px;
}
.img-banner-logo {
    width: 204px;
    margin-top: -14px;
}
h2.h2-banner-bg {
    /* position: absolute;
    bottom: 64px;
    color: #fff;
    font-weight: bold;
    left: 32px;
    font-size: 29px; */
    position: absolute;
    bottom: 30px;
    color: #fff;
    font-weight: bold;
    left: 32px;
    font-size: 27px;
    line-height: 45px;
}
h5.slide-h5-title {
    font-weight: bold;
}
.slide-ul {
    list-style: none;
    /* width: 116%; */
    width: 110.5%;
    padding: 0px;
   
}
/* .slide-ul li {
    width: 15%;
    float: left;
    position: relative;
    margin-right: 5%;
} */
.slide-ul li {
    width: 11.7%;
    float: left;
    /* right: -15%; */
    position: relative;
    margin-right: 2%;
}
.slide-ul li img {
    width: 100%;
    border-radius: 30px;
}
.slide-ul li p {
    text-align: center;
    color: #000;
    font-weight: 500;
    margin-top: 6px;
}
.slide-ul-two {
    list-style: none;
    width: 145%;
    padding: 0px; margin-bottom:60px;
    float: left;
}
.slide-ul-two li {
    /* width: 41%;
    float: left;
    position: relative;
    margin-right: 5%; */
    width: 16%;
    float: left;
    /* right: -15%; */
    position: relative;
    margin-right: 2.5%;
}
.slide-ul-two li:before {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    display: block;
    position: absolute;
    content: '';
    border-radius: 16px;
}
.slide-ul-two li img {
    width: 100%;
    /* border-radius: 30px; */
    border-radius: 16px;
}
.slide-ul-two li h3 {
    /* position: absolute;
    top: 25px;
    width: 100%;
    left: 38px;
    font-weight: bold;
    font-size: 26px; */
    position: absolute;
    top: 20px;
    /* left: 39%; */
    width: 100%;
    left: 19px;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    text-align: left !important;
}
.bg-light-sky {
    background: #d8dcf2;
}
.slow-fast-border {
    /* border: solid 3px #e2e6fb;
    box-shadow: 0px 0px 4px 0px #7a82a7; */
    background: #fff;
}
.dog-slow {
    width: 370px;
    margin: auto;
    position: relative;
}
.dog-slow img {
    width: 370px;
    margin-top: 40px;
}
span.slowspan-top {
    position: absolute;
    top: 15px;
    width: 100%;
    text-align: center;
    color: #999;
}
span.slowspan-left {
    position: absolute;
    bottom: 95px;
    left: -12px;
    color: #999;
}
span.slowspan-right {
    right: -25px;
    position: absolute;
    bottom: 98px;
    color: #999;
}
h5.h5-slow-mid {
    position: absolute;
    bottom: 91px;
    left: 25%;
    font-weight: bold;
    color: #717070;
}
h5.h5-slow-mid span {
    color: #5061b7;
}
.footer-green-block {
    background: #5766bd;
    width: 93%;
    margin: auto;
    color: #fff;
    font-size: 21px;
    padding: 44px;
    padding-bottom: 80px;
    border-radius: 20px 20px 0 0;
    display: none;
}
.speedometer {
    display: inline-block;
    height: 200px;
    position: relative;
    width: 200px;
  }
  
  .progress-ring__circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(135deg);
    transform-origin: 50% 50%;
  }
  
  .progress-ring__cbg {
    transform: rotate(135deg);
    transform-origin: 50% 50%;
    stroke-dasharray: 566, 566;
    stroke-dashoffset: 141.37166925;
  }
  
  .progress-ring__bars {
    transform-origin: 50% 50%;
    stroke-dasharray: 1.34639685, 17.50315905;
    stroke-dashoffset: 113.0973354;
  }
  .progress-ring__bars.gradient {
    transition: -webkit-mask 0.35s;
    transition: mask 0.35s;
    transition: mask 0.35s, -webkit-mask 0.35s;
  }
  
  .progress-ring__bars-clip {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(134deg);
    transform-origin: 50% 50%;
  }
  
  .speed-needle {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom left;
    transform: rotate(-180deg);
  }
  .speed-needle svg {
    display: block;
  }
  .speed-needle::after {
    background-color: #ed1a3b;
    border-radius: 50%;
    content: "";
    position: absolute;
    right: 100%;
    top: 100%;
    display: block;
    width: 16px;
    transform: translate3d(8px, -8px, 0);
    height: 16px;
  }
  .pl-sum {
    padding-left: 4% !important;
}
.dog-profile-bg{
    width: 100%;
    height: 320px;
    float: left;
    background: url(.././src/assets/images/dogbg.jpg);border-radius: 16px;
    background-size: cover;
}
div.width-health-sum {
    width: 70%;
    margin: auto;
    float: inherit;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 60px;
}
.pl-check {
    padding-left: 2% !important;margin-bottom: 0px;
}
.pl-check-car{
    padding-left:1% !important;margin-bottom: 0px; 
}
.bg-white-nutrai {
    width: 100%;
    background: #fff;
    padding-top: 1%;
    left: 4%;
    position: relative;
    padding-left: 1%;
    padding-right: 5%;
    padding-bottom: 70px;
    margin-top: 32px;
    border-radius: 10px;
}
.blood-title-top{
    padding-top: 0px;
    top: -20px;
    position: relative;
}
.mt-20-hi{
    margin-top: 30px;
}
.padding-let-toxi {
    padding-left: 30px;
}
.pl-toxi-metals{
    padding-left: 2% !important;
    margin-bottom: 0px;
}
.biglist-item-all{
    width: 100%;
}
.left-biglist-item-all{
    left: 17px;
    position: relative;
}
.padding-p-carp p{
    margin-top: 18px !important;
    margin-bottom: 0px;
}
.pl-0-car{
    padding-left: 0px;
}
.ei-h4 {
    color: #fff;
}
.icon-eli{
    color: #ace2e2 !important;
}
.icon-eli i{
    color: #fff !important;
}
