<div class="aside_title">
    <div class="logo-menu"> 
        <img class="desktop-logo" src="assets/images/logo-desktop.png"  alt="logo">
        <img class="mobile-app-logo" src="assets/images/meno-logo-dog.png" alt="logo">
    </div>

        <div class="user-block">
            <img src="assets/images/menu-user.png" alt="user">
            <h3><span>Hello,</span> Enriques Jr.</h3>
            <p>Mathmatics Teacher</p>
            <span class="title-name-span">@Holycross</span>
        </div>

        <a routerLink="/" routerLinkActive=""><span><img src="assets/images/menu-icon1.png" alt=""></span>Overview</a> 
        <a routerLink="/" routerLinkActive=""><span><img src="assets/images/menu-icon2.png" alt=""></span>Shop</a>
        <a routerLink="/" routerLinkActive=""><span><img src="assets/images/menu-icon3.png" alt=""></span>My Pups</a> 
        <a routerLink="/" routerLinkActive=""><span><img src="assets/images/menu-icon4.png" alt=""></span>CheckPups Reports</a> 
        <a routerLink="/" routerLinkActive=""><span><img src="assets/images/menu-icon5.png" alt=""></span>Learn</a> 
        <a routerLink="/account" routerLinkActive="nav-active"><span><img src="assets/images/menu-icon6.png" alt=""></span>My Account</a> 
        <a routerLink="/about-us" routerLinkActive="nav-active"><span><img src="assets/images/menu-icon7.png" alt=""></span>About</a>
        <a routerLink="/contact-us" routerLinkActive="nav-active"><span><img src="assets/images/menu-icon5.png" alt=""></span>Contact</a>
</div>