<div class="aside_title">
    <div class="logo-menu"> 
        <img src="assets/images/meno-logo-dog.png" alt="logo"> 
    </div>
    <a href="#" routerLink="/" routerLinkActive="">Shop</a> 
    <a href="#" routerLink="/" routerLinkActive="nav-active">My Pups</a>
    <a href="#" routerLink="/" routerLinkActive=""> My CheckPup Reports</a> 
    <a href="#" routerLink="/" routerLinkActive="">Learn</a> <a href="#">Account</a> 
    <a href="#" routerLink="/" routerLinkActive="">About</a> <a href="#">Contact</a>
</div>